{% extends "layoutEmail.html.twig" %}

{% block body %}
		<h1>Le nouvelle épisode de 
			{{ episode.season.program.title }}
			vient d'être crée</h1>
		<p>Titre de l'épisode:
			{{ episode.title }}
			</p>
		<p>Résume :{{episode.summary }}
		</p>
{% endblock %}