{% extends "layoutEmail.html.twig" %}

{% block body %}
	<main class="container">
		<row class="header">
			<h1 class="text-center">Bienvenue !</h1>
		</columns>
		<h1>
			{{ program.title }}
			vient d'être ajouté</h1>
		<p>Bonjour, la série
			{{ program.title }}
			vient d'être ajouté sur Wild Série</p>
		<p>Résumé :{{program.summary }}
		</p>
	</main>
{% endblock %}
