<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="http://localhost:8000/">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="http://localhost:8000/actor/">Acteur</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="http://localhost:8000/category/">Catégories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="http://localhost:8000/season/" role="button">
						Saison
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="http://localhost:8000/program/" role="button">
						Séries
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="http://localhost:8000/season/new" role="button">
						Nouvelle saison</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="http://localhost:8000/program/new" role="button">
						Nouveau programme
					</a>
				</li>
				{% if app.user %}
					{{ app.user.email }}
					<a href="{{ path('app_logout') }}">
						Se déconnecter</a>
				{% else %}
					<a href="{{ path('login') }}">
						Se connecter</a>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
